@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
}


.wrapper {
  align-content: center;
  align-items: center;
  display: flex;
}

.wrapper * {
  flex: 1 100%;
  text-align: center;
}